ACTION!="add", GOTO="gpio_end" 

KERNEL=="gpio[0-9]*", SUBSYSTEM=="gpio", ACTION=="add", PROGRAM="/lib/udev/gpio_pin %p" 
ENV{OF_NAME}=="gpio", SUBSYSTEM=="platform", ACTION=="add", PROGRAM="/lib/udev/gpio_pin enable" 

LABEL="gpio_end"
